<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{{title}}}</title>
    <link rel="stylesheet" href="/public/css/main-styles.css">
</head>

<div class="nav">
    <a href="/login">Login</a> {{!-- need ifs to not display this when user is logged in --}}
    <a href="/courts/available/">Available Courts</a>
    <a href="/courts/recommended/">Recommended Courts</a>
    <a href="/user/id/{{{id}}}/history/">History</a>
    <a href="/courts/create/">Owner</a>{{!-- need ifs to not display this when user is also an owner --}}
    <a href="/user/id/{{{id}}}/">Profile</a>
    <a href="todo">Logout</a>
</div>
<br>

<body>    
    {{{body}}}
</body>
</html>