<main>
      <div class="centered">         
            <h1>Create a Court</h1>
            <form id="form" method="post">
                  <label for="text_input">Court Name:</label>
                  <input name="name" type="text">
                  <br>
                  <label for="text_input">Court Type:</label>
                  <input name="type" type="text">
                  <br>
                  <label for="text_input">Address:</label>
                  <input name="address" type="text">
                  <br>
                  <label for="text_input">City:</label>
                  <input name="city" type="text">
                  <br>
                  <label for="text_input">State:</label>
                  <input name="state" type="text">
                  <br>
                  <label for="text_input">Zip Code:</label>
                  <input name="zip" type="text">
                  <br>
                  <label for="text_input">Capacity:</label>
                  <input name="capacity" type="text">
                  <br>
                  <label for="text_input">Length:</label>
                  <input name="length" type="text">
                  <br>
                  <label for="text_input">Width:</label>
                  <input name="width" type="text">
                  <br>
                  <label for="text_input">Court Opening Time:</label>
                  <input name="courtOpening" type="text">
                  <br>
                  <label for="text_input">Court Closing Time:</label>
                  <input name="courtClosing" type="text">
                  <br>
                  <button type="submit">Submit</button>
            </form>
      </div>
</main>