<h1>Create a Court</h1>
<form id="form" method="post">
      <label for="text_input">Court Name:</label>
      <input type="text">
      <br>
      <label for="text_input">Court Type:</label>
      <input type="text">
      <br>
      <label for="text_input">Address:</label>
      <input type="text">
      <br>
      <label for="text_input">City:</label>
      <input type="text">
      <br>
      <label for="text_input">State:</label>
      <input type="text">
      <br>
      <label for="text_input">Zip Code:</label>
      <input type="text">
      <br>
      <label for="text_input">Capacity:</label>
      <input type="text">
      <br>
      <label for="text_input">Length:</label>
      <input type="text">
      <br>
      <label for="text_input">Width:</label>
      <input type="text">
      <br>
      <label for="text_input">Court Opening Time:</label>
      <input type="text">
      <br>
      <label for="text_input">Court Closing Time:</label>
      <input type="text">
      <br>
      <button type="submit">Submit</button>
</form>