<main>
  <div class="centered">
    <h1>Create a Court</h1>
    <form id="form" method="post" class="centered">
      <label for="name">Court Name:</label>
      <input id="name" name="name" type="text" />
      <br />
      <label for="type">Court Type:</label>
      <input name="type" id="type" type="text" />
      <br />
      <label for="address">Address:</label>
      <input name="address" id="address" type="text" />
      <br />
      <label for="city">City:</label>
      <input name="city" id="city" type="text" />
      <br />
      <label for="state">State:</label>
      <input name="state" id="state" type="text" />
      <br />
      <label for="zip">Zip Code:</label>
      <input name="zip" id="zip" type="text" />
      <br />
      <label for="capacity">Capacity:</label>
      <input name="capacity" id="capacity" type="text" />
      <br />
      <label for="length">Length:</label>
      <input name="length" id="length" type="text" />
      <br />
      <label for="width">Width:</label>
      <input name="width" id="width" type="text" />
      <br />
      <label for="courtOpening">Court Opening Time:</label>
      <input name="courtOpening" id="courtOpening" type="text" />
      <br />
      <label for="courtClosing">Court Closing Time:</label>
      <input name="courtClosing" id="courtClosing" type="text" />
      <br />
      <button type="submit">Submit</button>
    </form>
  </div>
</main>