<h1>Leave a review for {{user.firstName}} {{user.lastName}}</h1>
<form id="form" method="post">
      <label for="rating">Rate this user from 1 to 5:</label>
      <input id="rating" name="rating" type="text">
      <br>
      <label for="comment">Leave a comment:</label>
      <input id="comment" name="comment"type="text">
      <br>
      <button id="submit" type="submit">Submit</button>
      <div id="error-div"></div>
      <p id="errors">{{error}}</p>
</form>
<script src="/public/js/createReview.js"></script>