<h1>{{title}}</h1>

<main>
    <label for="selected_date">Select a date to make a reservation:</label>
    <input type="date" id="selected_date" value={{mindate}} min={{mindate}} max={{maxdate}}>
    <button>Find available times</button>
</main>